{% extends 'base.html' %}

{% block title %}Cadastro | Hemepar Solidario{% endblock %}


{% comment %} Cadastro de doador (forms simples att.3) {% endcomment %}
{% block content %}
<section class="card form-card">
    <h2>Criar conta de doador</h2>
    <p>Preencha seus dados para participar e liberar brindes apos validacao da doacao.</p>
    <form method="post">
        {% csrf_token %}
        {{ cadastro_form.as_p }}
        <button type="submit">Criar conta</button>
    </form>
    <p>Ja possui conta? <a href="{% url 'login' %}">Entrar</a></p>
</section>
{% endblock %}
